.adForm {
  &__section {
    background-color: #fafafa;
    padding: 1rem;
  }

  &__heading {
    font-size: 1.4rem;
  }

  &-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--item1 {
      flex-basis: 32%;
    }
    &--item2 {
      flex-basis: 24%;
    }
  }
}
