.ad-grid {
  &__container {
    width: 1280px;
    margin: 8rem auto;
  }

  &__tabs {
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem 2rem;
  }

  &__tab {
    font-size: 1.6rem;
    padding: 1rem;
    margin-right: 2rem;
    &:hover {
      color: #249af3;
      border-bottom: 2px solid #249af3;
      cursor: pointer;
    }

    &--active {
      color: #249af3;
      border-bottom: 2px solid #249af3;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.4rem;
  }

  &__item {
    justify-self: stretch;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.14);
    border-bottom: 5px solid transparent;
    transition: all 0.3s;

    &__image {
      width: 244px;
      height: 163px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative;
      background-size: cover;
      background-position: center center;
    }

    &__updated {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(40%);
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 1rem;
      padding: 0.3rem 0.6rem;
      text-transform: capitalize;
    }

    &__price {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(40%);
      background: #249af3;
      color: #fff;
      font-size: 2.2rem;
      padding: 0.3rem 0.6rem;
      width: 100%;
      text-align: right;

      &--sold {
        background: #b81b23;
      }
    }

    &__info {
      padding: 1.6rem;

      &__heading {
        font-size: 1.8rem;
        margin: 1rem 0 0 0;
        color: #334150;
        font-weight: 600;
      }
      &__specs {
        display: flex;
        color: #95a3b6;
        justify-content: space-between;
      }

      &__spec-item {
        display: flex;
        align-items: center;
        margin-right: 2rem;

        &__atribute {
          img {
            height: 1.5rem;
            margin-right: 0.7rem;
          }
        }
      }
    }

    &:hover {
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
      border-bottom: 5px solid #249af3;
      transform: translateY(-1px);
    }
  }
}
