.ad-grid {
  &__container {
    width: 1280px;
    margin: 10rem auto;
    border-radius: 3px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }

  &__item {
    justify-self: stretch;
    background-color: #fff;
    // width: 400px;
    margin: 1rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.14);
    border-bottom: 5px solid transparent;
    transition: all 0.3s;

    &__image {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      &-wrapper {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
      }
    }

    &__price {
      position: absolute;
      bottom: 0;
      right: 1rem;
      transform: translateY(40%);
      background: rgba(0, 0, 0, 0.801);
      backdrop-filter: saturate(180%) blur(20px);
      color: #fff;
      font-size: 2.2rem;
      padding: 0.3rem 0.6rem;
      border-radius: 4px;
      border: 1px solid #249af3;
    }

    &__info {
      padding: 1.6rem;
    }

    &:hover {
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
      border-bottom: 5px solid #249af3;
      transform: translateY(-1px);
    }
  }
}
