.search {
  background-color: #fff;
  width: 600px;
  padding: 20px;
  border-radius: 6px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: -50px;
  z-index: 55555;
}
