.found-ads {
  &__container {
    width: 1280px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 3px;
  }

  &__heading {
    border-bottom: 2px solid #e1e8ee;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    h2 {
      font-size: 2.2rem;
      color: #334150;
      margin-bottom: 2rem;
      margin: 0;
    }
  }
  &__list {
    padding: 2rem 4rem;
  }
}
