@import "../App.scss";

.my-cars {
  &__container {
    max-width: 1280px;
    margin: 6rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    @include maxw(1280) {
      width: 96%;
    }
  }

  &__heading {
    border-bottom: 2px solid #e1e8ee;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    h1 {
      font-size: 2rem;
      color: #334150;
      margin-bottom: 2rem;
      margin: 0;
    }
  }

  &__cars {
    padding: 2rem 4rem;
    @include maxw(618) {
      padding: 1rem;
    }
  }

  &__no-cars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.my-car {
  border-bottom: 1px solid #e1e8ee7a;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  @include maxw(466) {
    padding: 1rem 0;
  }
  &__image {
    height: 100px;
    width: 150px;
    flex-shrink: 0;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
  }

  &__main {
    font-size: 1.6rem;
    //margin: 1rem 0 0 0;
    color: #334150;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    flex-basis: 160px;
    padding-left: 1rem;
    flex-shrink: 0;

    span {
      color: #95a3b6;
      font-size: 1.4rem;
      margin-top: 1rem;
      font-weight: 400;
    }
    &__featured {
      color: #249af3 !important;
    }
  }

  &__date-added {
    font-size: 1.6rem;
    color: #334150;
    align-self: flex-start;
    flex-basis: 180px;
    @include maxw(794) {
      display: none;
    }
  }

  &__price {
    flex-basis: 100px;
    font-size: 1.6rem;
    @include maxw(794) {
      display: none;
    }
  }

  &__status {
    color: #95a3b6;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  &__sold {
    color: red;
  }

  &__for-sale {
    color: green;
  }

  &__controls {
    flex-direction: column;
    display: flex;
    opacity: 1;
    //pointer-events: none;
    a {
      margin-bottom: 0.6rem;
    }
  }
  &:hover {
    background-color: #fafafa;
  }
  &:hover > .my-car__controls {
    opacity: 1;
    pointer-events: auto;
  }
}
