@import "../App.scss";
.header {
  position: relative;
  margin: 0 auto;

  &__background {
    background-position: center center;
    background-size: cover;
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(26, 20, 61);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.5) 0%,
      rgb(0, 0, 0) 100%
    );
    background-size: cover;
  }
  &__container {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include maxw(1280) {
      justify-content: center;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
    padding-top: 16rem;
    //border: 1px solid blue;
    @include maxw(832) {
      padding-top: 8rem;
    }
    @include maxw(500) {
      padding: 2rem;
      padding-top: 8rem;
    }
  }

  &__heading {
    font-size: 3.6rem;
    color: #ffffff;
    //border-left: 4px solid #249af3;
    padding: 0 2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.637);
    text-align: center;
    @include maxw(500) {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }
  &__subheading {
    font-size: 1.8rem;
    color: #c7cacf;
    margin-left: 2rem;
    font-weight: 500;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.534);
    margin-bottom: 1rem;
    text-align: center;
    @include maxw(500) {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  &__image {
    @include maxw(1280) {
      display: none;
    }
    img {
      width: 528px;
    }
  }
}
