.header {
  background-position: center center;
  background-size: cover;
  height: 60rem;
  //overflow: hidden;
  box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.14);
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.6699054621848739) 100%
    );
    background-size: cover;
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    // background-color: #fff;

    width: 1280px;
    margin: 0 auto;
  }

  &__left {
    flex-grow: 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
  }
  &__tags {
    margin-left: 2rem;
  }

  &__tag {
    color: #334150;
    background-color: #f1f2f4;
    display: inline-block;
    margin: 0.6rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 1.6rem;
  }
  &__heading {
    font-size: 3.6rem;
    color: #ffffff;
    border-left: 4px solid #249af3;
    padding: 0 2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.637);
  }
  &__subheading {
    font-size: 1.8rem;
    color: #c7cacf;
    margin-left: 2rem;
    font-weight: 500;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.534);
    margin-bottom: 1rem;
  }
  &__right {
    flex-grow: 4;

    position: relative;
    display: flex;
    align-items: center;
  }
}
