.header {
  margin: 2rem auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.14);
  border-radius: 4px;
  height: 60rem;
  overflow: hidden;
  &__text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
  }
  &__tags {
  }

  &__tag {
    color: #334150;
    background-color: #f1f2f4;
    display: inline-block;
    margin: 0.6rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 1.6rem;
  }
  &__heading {
    font-size: 3.6rem;
    color: #334150;
    border-left: 4px solid #249af3;
    padding: 0 2rem;
  }
  &__subheading {
    font-size: 1.6rem;
    color: #7f8fa4;
    padding-left: 2rem;
    font-weight: 500;
  }
  &__image {
    width: 120rem;
    background-position: center center;
    background-size: cover;
  }
}

// .shadow {
//   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
// }
// .bg-white {
//   background-color: #fff;
// }

// .input-shadow {
//   box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.14);
// }

// .shadow-md {
//   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
//     0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
// }
