.navbar {
  //background: rgb(255, 255, 255);
  height: 48px;
  color: #334150;
  width: 100%;
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.801);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  //height: 4rem;
  z-index: 555;
  & a {
    color: #9ea1a5;
    transition: all 0.2s;
    &:hover {
      color: #ffffff;
    }
  }

  &__container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__dropdown {
    position: absolute;
    top: 90%;
    right: -20px;
    z-index: 2;
    box-shadow: 0 2px 14px 0 rgba(37, 42, 49, 0.16);
    border-radius: 6px;

    background: rgba(0, 0, 0, 0.801);
    margin: 0;
    padding: 1rem 1.4rem;

    &-item {
      color: #000;
      border-bottom: 1px solid #dee7f5;
      margin: 12px 0 0;
      margin-top: 0;
      line-height: 1.5;
      padding: 6px;
      transition: all 0.2s ease-in-out;
      a {
        display: block;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
  &__logo {
    font-weight: 600;
    font-size: 1.8rem;
    //font-style: italic;

    & h2 {
      color: rgb(230, 230, 230);
      //transition: all 0.2s;
      &:hover {
        color: rgb(255, 255, 255);
      }
      & span {
        font-size: 1.2rem;
        vertical-align: text-top;
        margin-left: -4px;
      }
    }
  }

  &__menu-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__menu-link {
    & a {
      padding: 0.5rem 2rem 2rem 2rem;
      margin: 0 1rem;
    }
  }

  &__user-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__demo-link {
    border-right: 1px solid #616264;
    padding-right: 1.5rem;
    color: #334150;
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-link {
    margin: 8px;
    padding: 6px 16px;
  }

  &__avatar {
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    color: #9ea1a5;
    cursor: pointer;
    & svg {
      margin-right: 0.6rem;
    }
    &:hover {
      color: #ffffff;
    }
  }

  &-button-left-margin {
    margin-left: 2rem;
  }

  &-button-secondary {
    border: 1px solid #616264;
    &:hover {
      border-color: #fff;
    }
  }
}
