@import "../App.scss";

.navbar {
  color: #9ea1a5;
  width: 100%;
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.801);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  white-space: nowrap;
  & a {
    color: #9ea1a5;
    transition: color 0.2s;
    &:hover {
      color: #ffffff;
    }
  }

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include maxw(1280) {
      max-width: 96%;
    }
  }

  &__logo {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0.8rem 0.8rem 0.8rem 0;

    & h2 {
      color: rgb(230, 230, 230);
      &:hover {
        color: rgb(255, 255, 255);
      }
      & span {
        font-size: 1.2rem;
        vertical-align: text-top;
        margin-left: -4px;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include maxw(550) {
      display: none;
    }
  }

  &__link {
    margin: 0.8rem;
  }

  &__demo-link {
    border-right: 1px solid #616264;
    padding-right: 1.5rem;
    color: #9ea1a5;
  }

  &__avatar {
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    color: #9ea1a5;
    cursor: pointer;
    & svg {
      margin-right: 0.6rem;
    }
    &:hover {
      color: #ffffff;
    }
  }

  &-button-margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &-button-secondary {
    border: 1px solid #616264;
    &:hover {
      border-color: #fff;
    }
  }

  &__dropdown {
    position: absolute;
    top: 105%;
    right: -20px;
    z-index: 2;
    box-shadow: 0 2px 14px 0 rgba(37, 42, 49, 0.16);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.801);
    margin: 0;
    padding: 1rem 1.4rem;

    &-item {
      color: #000;
      border-bottom: 1px solid #dee7f5;
      margin: 12px 0 0;
      margin-top: 0;
      line-height: 1.5;
      padding: 6px;
      transition: all 0.2s ease-in-out;
      a {
        display: block;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
  &__mobile {
    display: none;
    // position: relative;
    @include maxw(550) {
      display: block;
      margin: 1rem;
      // margin-right: 1rem;
    }

    &__menu {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      //height: 200px;
      z-index: 2;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background: rgba(0, 0, 0, 0.904);
      padding: 1rem 1.4rem;

      &__item {
        margin-bottom: 1.6rem;
        color: #fff !important;
      }

      &__container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.pulse {
  color: #9ea1a5;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-delay: 5s;
}

@keyframes pulse {
  48% {
    color: #9ea1a5;
  }
  49% {
    color: #ffffff;
  }
  50% {
    color: #9ea1a5;
  }
  52% {
    color: #9ea1a5;
  }
  53% {
    color: #ffffff;
  }
  54% {
    color: #9ea1a5;
  }
}
