html {
  font-size: 62.5%;
  //scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

ul {
  padding: 0;
}

.btn {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding: 0.8rem 2.2rem;
  border: none;
  outline: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  transition: all 0.2s;
  white-space: nowrap;
  text-align: center;

  &:hover {
    box-shadow: none;
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-primary.btn {
    color: #fff;
    background-color: #249af3;
    box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.14);
    border: none;
    &:hover {
      color: #fff;
      background-color: #108be9;
      box-shadow: none;
    }
  }
  &-secondary.btn {
    box-shadow: none;
    color: #334150;
    border: 1px solid #e1e8ee;

    &:hover {
      background-color: #e1e8ee;
    }
  }
  &-success {
    background-color: rgb(52, 202, 15);
    &:hover {
      background-color: rgb(7, 148, 7);
    }
  }
  &-danger {
    background-color: rgb(209, 46, 46);
    &:hover {
      background-color: rgb(160, 34, 34);
    }
  }

  &-delete {
    background-color: rgb(226, 182, 182);

    &:hover {
      background-color: rgb(160, 34, 34);
    }
  }
  &-edit {
    background-color: #bfdffa;
    text-align: center;

    &:hover {
      background-color: #108be9;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #334150;
}

.shadow {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

.shadow-min {
  box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.14);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.shadow-material {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.shadow-behance {
  box-shadow: 0 3px 8px rgba(25, 25, 25, 0.3);
}

.shadow-aa {
  box-shadow: 0 0 2px 1px rgba(167, 169, 172, 0.2);
}
