@import "../../App.scss";

.saved-cars {
  &__container {
    max-width: 1280px;
    margin: 6rem auto;

    border-radius: 5px;
    @include maxw(1280) {
      width: 96%;
    }
  }

  &__heading {
    padding: 2rem 4rem;
    margin-bottom: 2rem;

    border-radius: 4px;
    background-color: #fff;

    h1 {
      font-size: 2rem;
      color: #334150;
      margin-bottom: 2rem;
      margin: 0;
    }
  }
}
